<div class="sidenav-container">
  <section class="list-wrapper">
    <mat-list class="nav-list" role="list">
      <mat-list-item class="nav-list-item" role="listitem">
        <a
          [routerLink]="['/admin', 'admin-dashboard']"
          routerLinkActive="active-link"
          class="nav-link"
        >
          Dashboard
        </a>
      </mat-list-item>
      <mat-list-item class="nav-list-item" role="listitem">
        <a
          [routerLink]="['/admin', 'admin-stocks']"
          routerLinkActive="active-link"
          class="nav-link"
        >
          Stocks
        </a>
      </mat-list-item>
      <mat-list-item class="nav-list-item" role="listitem">
        <a
          [routerLink]="['/admin', 'admin-categories']"
          routerLinkActive="active-link"
          class="nav-link"
        >
          Categories
        </a>
      </mat-list-item>
      <mat-list-item class="nav-list-item" role="listitem">
        <a
          [routerLink]="['/admin', 'admin-subcategories']"
          routerLinkActive="active-link"
          class="nav-link"
        >
          Sub-Categories
        </a>
      </mat-list-item>
      <mat-list-item class="nav-list-item" role="listitem">
        <a
          [routerLink]="['/admin', 'admin-products']"
          routerLinkActive="active-link"
          class="nav-link"
        >
          Products
        </a>
      </mat-list-item>
      <mat-list-item class="nav-list-item" role="listitem">
        <a
          [routerLink]="['/admin', 'admin-users']"
          routerLinkActive="active-link"
          class="nav-link"
        >
          Users
        </a>
      </mat-list-item>
      <mat-list-item class="nav-list-item" role="listitem">
        <a
          [routerLink]="['/admin', 'admin-orders']"
          routerLinkActive="active-link"
          class="nav-link"
        >
          Orders
        </a>
      </mat-list-item>
      <mat-list-item class="nav-list-item" role="listitem">
        <a
          [routerLink]="['/admin', 'admin-carts']"
          routerLinkActive="active-link"
          class="nav-link"
        >
          Carts
        </a>
      </mat-list-item>
      <mat-list-item class="nav-list-item" role="listitem">
        <a
          [routerLink]="['/admin', 'admin-wishlists']"
          routerLinkActive="active-link"
          class="nav-link"
        >
          Wishlists
        </a>
      </mat-list-item>
    </mat-list>
  </section>
</div>
