/* You can add global styles to this file, and also import other style files */
@import "./assets/ext_css/variables.scss";
@import "./assets/ext_css/common.scss";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: linear-gradient(
    180deg,
    #ccccc3 5%,
    #ccccc4 20%,
    #ccccc5 60%,
    #cccccc 95%
  );
}
