@import "../../assets/ext_css/variables.scss";

.header-container {
  background: $black 0% 0% no-repeat padding-box;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);

  .header-toolbar {
    background: transparent;
    color: $white !important;

    .category-btn {
      color: $white;

      &:hover {
        color: $second-white;
      }
    }

    .logo-wrapper {
      .brand-logo {
        width: 250px;
        height: 200px;
      }
    }

    .header-spacer {
      flex: 1 1 auto;
    }

    .nav-list {
      list-style: none;

      .nav-list-item {
        cursor: pointer;
        display: inline-block;
        margin: 0 10px;
        padding: 0 5px;

        .nav-list-link {
          font-size: 14px;
          color: $white;
          text-decoration: none;

          &:hover {
            color: $third-white;
          }
        }
      }
    }
  }
}
