<div class="header-container">
  <mat-toolbar class="header-toolbar">
    <!-- category button -->
    <button
      class="btn category-btn"
      mat-stroked-button
      [matMenuTriggerFor]="categoryMenu"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #categoryMenu="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>

    <!-- brand logo -->
    <div class="logo-wrapper">
      <img [src]="brandInfo?.logo" alt="master store logo" class="brand-log" />
    </div>

    <span class="header-spacer"></span>

    <!-- login or user button -->
    <ng-container *ngIf="isUserLoggedIn; else guestTemplate">
      <button
        mat-stroked-button
        class="btn white-stroked-btn"
        [matMenuTriggerFor]="userMenu"
      >
        {{ user?.name | titlecase }}
      </button>
      <mat-menu #userMenu="matMenu">
        <button mat-menu-item>
          <mat-icon>dynamic_feed</mat-icon>
          <span>My Posts</span>
        </button>
        <button mat-menu-item>
          <mat-icon>account_circle</mat-icon>
          <span>My Profile</span>
        </button>
        <button mat-menu-item (click)="logOut()">
          <mat-icon>logout</mat-icon>
          <span>Log Out</span>
        </button>
      </mat-menu>
    </ng-container>
    <ng-template #guestTemplate>
      <button
        mat-stroked-button
        class="btn white-stroked-btn"
        (click)="routeTo('login')"
      >
        Login
      </button>
    </ng-template>
  </mat-toolbar>
</div>
