$white: #fff;
$second-white: #eee;
$third-white: #ccc;
$black: #000;
$primary: #006ed2;

// btn colors
$primary-btn: #baeca4;

// btn bg
$primary-btn-bg: $primary-btn 0% 0% no-repeat padding-box;

$primary-bg: $primary 0% 0% no-repeat padding-box;
$black-bg: $black 0% 0% no-repeat padding-box;
$white-bg: $white 0% 0% no-repeat padding-box;
$second-white-bg: $second-white 0% 0% no-repeat padding-box;
$third-white-bg: $third-white 0% 0% no-repeat padding-box;
