.post-form-container {
  padding: 60px 100px;

  .form-container {
    width: 400px;
    margin: 0 auto;
    padding: 10px 20px;

    mat-form-field {
      width: 100%;
    }

    button {
      margin: 0 5px;
    }
  }
}
