<div class="home-container">
  <div class="banner-container">
    <div class="row">
      <div class="col-4 my-col">
        <p class="title">Welcome to <strong>MASTER STORE!</strong></p>
        <p class="description">
          Here we care for all needs & time. We will deliver your stuff at your
          door steps.
        </p>
        <ul class="feature-list">
          <li class="feature-list-item">
            You can see & select various products.
          </li>
          <li class="feature-list-item">You can manage your wishlist.</li>
          <li class="feature-list-item">You can manage your cart.</li>
          <li class="feature-list-item">
            You can manage your payment options & addresses.
          </li>
          <li class="feature-list-item">You can manage your orders.</li>
        </ul>
      </div>
      <div class="col my-col">
        <figure>
          <img src="../../assets/imgs/banner.jpeg" alt="connecting world" />
        </figure>
      </div>
    </div>
  </div>

  <div class="text-center content">
    <button
      class="start-btn btn primary-btn"
      mat-raised-button
      (click)="routeTo('posts')"
    >
      Let's Start
    </button>
  </div>
</div>
